<style>
    div.resume {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        position: relative;
        font: 16px verdana;
    }

    div.resume-block {
        background: #fff;
        margin-bottom: 20px;
        border: 1px solid #d9d9d9;
    }

    div.resume-body {
        padding-left: 20px;
        padding-right: 20px;
    }

        div.resume-body div.resume-body-block {
        }


    div.resume-header div {
        float: left;
        height: 150px;
    }

    div.resume-experience {
        margin-left: 50px;
    }

    div.resume-project {
        margin-left: 50px;
    }

    div.icon {
        height: 150px;
        width: 150px;
        background-image: url("/Content/images/face.jpg");
        background-repeat: no-repeat;
    }

    ul.resume-header {
        list-style: none;
    }

        ul.resume-header li {
            margin-top: 5px;
        }


    .font-header {
        font-family: Verdana;
        font-size: 15px;
        font-weight: bold;
        color: #0000FF;
    }

    div.resume-header {
        height: 150px;
    }

    table.resume-basic-info {
        width: 800px;
    }

    table.resume-experience {
        width: 750px;
    }

    td {
        text-wrap: none;
        padding-bottom: 5px;
        font-family: Verdana;
        font-size: 14px;
    }

        td.resume-detail-title {
            font-weight: bold;
        }

    hr {
        border: none;
        height: 1px;
        border-top: 1px solid #d9d9d9;
    }
</style>
<div class="resume">
    <div class="resume-header resume-block">
        <div class="icon"></div>
        <div>
            <ul class="resume-header">
                <li>
                    <h2>骆宇平</h2>
                </li>
                <li><span class="font-header">电话: 15680792820</span></li>
                <li><span class="font-header">邮箱: luozong3@sina.com</span></li>
                <li><span class="font-header">职位: 高级软件工程师(Java)</span></li>
            </ul>
        </div>
    </div>

    <div class="resume-block resume-body">
        <h3>基本信息:</h3>
        <table class="resume-basic-info">
            <tr>
                <td class="resume-detail-title" style="width: 10%;">所在地:</td>
                <td style="width: 40%;">成都</td>
                <td class="resume-detail-title" style="width: 10%;">出生年月:</td>
                <td style="width: 40%;">1982.12</td>
            </tr>
            <tr>
                <td class="resume-detail-title">目前状态:</td>
                <td>在职, 在看新机会</td>
                <td class="resume-detail-title">婚姻状况:</td>
                <td>已婚</td>
            </tr>
            <tr>
                <td class="resume-detail-title">期望行业:</td>
                <td>计算机软件</td>
                <td class="resume-detail-title">期望职位:</td>
                <td>软件开发/技术主管</td>
            </tr>
            <tr>
                <td class="resume-detail-title">期望年薪:</td>
                <td>15万</td>
            </tr>
        </table>
    </div>

    <div class="resume-block resume-body">
        <h3>工作经历:</h3>
        <div class="resume-body-block">
            <h4>
                <pre>2012.12 - 至今:  NCS  (高级软件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都, 新加坡</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>新加坡:<br />
                            1.与客户沟通了解新的需求,翻译成程序设计需要的需求文档;
                        <br />
                            &nbsp;&nbsp;&nbsp;对于客户反应的各种bug和问题,追查其root cause并找出最优解决方案.
                        <br />
                            2.发现旧有系统的设计上的不足,学习并运用新技术对其进行改进调优.
                        <br />
                            &nbsp;&nbsp;&nbsp;对项目的流程和管理提出意见并加以改进.
                        <br />
                            3.系统日常维护,bug分析,解决各种生产环境下产生的问题.
                        <br />
                            4.新系统开发时,设计并优化系统基础框架.
                        <br />
                            5.各种系统疑难杂症分析与解决.
                        <br />
                            6.负责指导初级工程师的开发.<br />
                            <br />
                            成都:<br />
                            1.系统新功能开发,解决已知系统bug
                        <br />
                            2.支持并解决系统疑难杂症
                        <br />
                            3.指导初级工程师的开发.<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />


        <div class="resume-body-block">
            <h4>
                <pre>2009.7 - 2012.11:  成都星驰科技有限责任公司  (软件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>1. 与客户沟通并了解需求
                        <br />
                            2. 根据客户需求进行系统开发,对客户反应的bug进行及时的修复<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />

        <div class="resume-body-block">
            <h4>
                <pre>2007.7 - 2009.7:  成都清华同方技术服务中心 (高级硬件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>1.负责显示器维修(芯片级), 电脑硬件维修(板卡级)<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />

        <div class="resume-body-block">
            <h4>
                <pre>2005.10 － 2007.06:  冠捷科技集团成都服务中心 (硬件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>1. 负责显示器维修(芯片级)<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="resume-block resume-body">
        <h3>项目经验:</h3>

        <div class="resume-body-block">
            <div class="resume-project">
                <h4>
                    <pre>Integrated Licensing System (NCS)</pre>
                </h4>
            </div>
        </div>
    </div>
</div>

