@{
    ViewBag.Title = "Contact";
}
<div class="container body-content">
    <h2>联系方式</h2>
    <hr />

    <address>
        <table>
            <tr>
                <td style="width:60px;text-align:right;"><strong>Email:</strong> </td>
                <td style="width:200px;"><a href="mailto:luozong3@sina.com">luozong3@sina.com</a></td>
            </tr>
            <tr>
                <td style="width:60px;text-align:right;"><strong>微  信:</strong></td>
                <td style="width:200px;"><span>luozong3</span></td>
            </tr>
        </table>


    </address>
</div>
