@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
    <div id="myCarousel" class="carousel slide" data-interval="10000">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/images/1.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="~/Content/images/2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img src="~/Content/images/3.jpg" alt="Third slide">
            </div>
        </div>

        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" style="position:absolute;top:50%;transform: translateY(-50%);"></span></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" style="position:absolute;top:50%;transform: translateY(-50%);"></span></a>
    </div>
</div>
