<!DOCTYPE HTML>
<!--<html>
<head>
<meta charset="utf-8" />
<title>骆宇平的个人简历</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />-->
<link href="/Content/css/style-v2.4.css" media="not print" rel="stylesheet" type="text/css" />
<link href="/Content/css/style-v2.4-print.css" media="print" rel="stylesheet" type="text/css" />
<link href="/Content/css/resume.css" rel="stylesheet" />
<!--</head>-->

<body>

<div class="main">
	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<div class="center">
					<img src="/Content/images/face.jpg" class="face"/>					
				</div>		
				<div class="center">				
					<h2 class="section__header__title">骆宇平</h2> 
				</div>
				<div class="center">
					<h3 class="section__header__subtitle">工作<script>document.write((new Date).getFullYear() - 2005);</script>年，<script>document.write((new Date).getFullYear() - 2009);</script>软件开发经验，极致的技术追求</h3>
				</div>
				<div class="center">
					<a class="section__header__subtitle contact" href="mailto:luozong3@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>luozong3@gmail.com</a>
				</div>
				<div class="center">	
					<h3 class="section__header__subtitle contact"><span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>15680792820</h3>
				</div>
			</header>
			<div class="section-body">
				<ul class="tech-skill-list">
					<li class="tech-skill-list_item skill-10">
						<h4 class="tech-skill-list_item_name">满分 10分</h4>
					</li>
					<li class="tech-skill-list_item skill-8">
						<h4 class="tech-skill-list_item_name">Java</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>过硬Java基础知识</li>
								<li>Java各种类库熟悉</li>
								<li>JVM内部机制的了解</li>
								<li>面向对象的思考方式</li>
							</ul>
						</div>
					</li>
					<li class="tech-skill-list_item skill-8">
						<h4 class="tech-skill-list_item_name">解决问题(Trouble Shooting)&沟通(Communication)&团队合作(Team Work)</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>清晰度解决问题的思路</li>
								<li>配合各种合理的工具使用</li>
								<li>合理的问题解决方式</li>
								<li>出色的沟通技巧</li>
								<li>增强了对需求的理解力</li>
								<li>领导,同事,部门间愉快的沟通</li>
								<li>客户提的需求,反应的bug,通过良好的沟通能力可以非常好的理解</li>							
								<li>超强的分工合作能力</li>
								<li>不推卸责任给其他人,勇于承担错误,</li>
							</ul>
						</div>
					</li>
					<li class="tech-skill-list_item skill-7">
						<h4 class="tech-skill-list_item_name">数据库(Database)</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>精通数据库各种增删改查</li>
								<li>掌握普通的查询调优</li>
								<li>了解部分数据库基础知识</li>
							</ul>
						</div>
					</li>								
					<li class="tech-skill-list_item skill-7">
						<h4 class="tech-skill-list_item_name">English</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>2年的海外工作,使英语听说读写的能力大大提升</li>
								<li>工作中所有邮件都是英文</li>
								<li>经常查阅英文资料,文档,社区</li>
							</ul>
						</div>
					</li>										
					<li class="tech-skill-list_item skill-6">
						<h4 class="tech-skill-list_item_name">C#</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>对C#语言有一定的理解,特别是它相对于Java的一些语言特性</li>
								<li>熟悉一些C#独有的类库,框架</li>
							</ul>
						</div>
					</li>										
					<li class="tech-skill-list_item skill-6">
						<h4 class="tech-skill-list_item_name">Html/Css/JS</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>对前端技术并不排斥,虽然我是以后端为主的</li>
								<li>不错的前端技术,对Html5熟悉</li>
								<li>熟练使用CSS3</li>
								<li>熟练编写原生js,或者基于Jquery的js</li>
							</ul>
						</div>
					</li>										
					<li class="tech-skill-list_item skill-6">
						<h4 class="tech-skill-list_item_name">Git</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>工作,业余生活,都熟练的使用Git作为版本管理</li>
							</ul>
						</div>
					</li>
															
					<li class="tech-skill-list_item skill-5">
						<h4 class="tech-skill-list_item_name">数据结构和算法(Data Structure & Algorithm)</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>熟悉常用的数据结构</li>
								<li>清晰的思路,知道在什么情况下该使用什么样的数据结构</li>
								<li>了解一些常用的算法</li>
							</ul>
						</div>
					</li>
															
					<li class="tech-skill-list_item skill-4">
						<h4 class="tech-skill-list_item_name">Unix</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>熟悉常用的Unix命令</li>
								<li>编写简单的Unix Shell script</li>
							</ul>
						</div>
					</li>
															
					<li class="tech-skill-list_item skill-4">
						<h4 class="tech-skill-list_item_name">工作流(Workflow)</h4>
						<div class="tech-skill-list_item__detail fade">
							<ul class="list">
								<li>熟悉工作流引擎的开发</li>
								<li>清晰的知道工作流的使用场景,适用的业务类型</li>
							</ul>
						</div>
					</li>
							
				</ul>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">目前就职于外企,拥有海外工作经验</h2>
				<h3 class="section__header__subtitle">稳定积极的工作态度,清晰的职业规划</h3>
			</header>
			<div class="section-body">
				<div class="work-exp-list">
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>现在</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.ncs.com.sg/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/ncs.jpg" alt="NCS" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #fb7c6b;" href="http://www.ncs.com.sg/" target="_blank">NCS(500人+)</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">高级Java开发工程师</p>
						</header>
						<div class="work-exp-list__company__body">							
						    <p>2013.11-2015.10 被派往新加坡出差</p>
							<p>目前已独立的带领项目开发,包括</p>
							<ul class="list">
								<li>与直接客户沟通,独立需求调研</li>
								<li>系统框架设计与实现</li>
								<li>对业务的深刻理解,与客户的良好沟通保证了系统的良好扩展性和可维护性</li>
								<li>系统基础模块的实现,系统模块之间的接口定义</li>
								<li>知道初中级程序员进行团队合作</li>
								<li>项目疑难杂症,技术难题的攻坚</li>
							</ul>
							<p>由于在15年左右,客户坚持要使用微软的平台,于是在并不熟悉C#的情况下从头开始学习,短时间内就掌握
							了这门我原本并不熟悉的语言,并熟悉了其独特的类库与框架,充分体现了良好的学习态度和学习能力.</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2012/12</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #f53638;" href="http://www.cdxingchi.com/" target="_blank">成都星驰科技有限公司(10人以内)</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">中级Java开发工程师</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>进公司之初,我是一名刚刚从硬件行业专为软件开发的新手,有的只是大学里学习的基础知识.</p>
							<p>通过不懈的努力,浓厚的软件开发兴趣,超强的学习能力和同事耐心的教导渐渐成长成一名中级的Java开发工程师</p>
							<p>公司虽然不大,但是给了我很大的发挥空间和更重的职责.小公司人手紧缺,经常会一个人负责很多方面的事情.</p>
							<p>包括需求调研,业务流程梳理,开发,测试,维护,用户意见收集,培训用户等等.渐渐的也成长成一名独当一面的角色</p>
							<p>区别于大公司的螺丝钉角色,在星驰的3年让我有了在软件开发中质的飞跃.</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2009/7</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.thtf.com.cn/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/thtf.jpg" alt="成都清华同方技术服务中心" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #008558;" href="http://www.thtf.com.cn/" target="_blank">成都清华同方技术服务中心</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">高级硬件工程师</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>主要负责四川地区同方显示器维修,芯片级维修.也会涉及一些PC板卡级维修.</p>
							<p>4年的维修经历,让我在维修维护上积累了丰富的经验,充分锻炼了我在这方面的思路</p>
							<p>为日后在软件行业的维护,bug fix,trouble shooting等方面打下了坚实的基础.</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2007/6</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.aoc.com/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/tpv.png" alt="冠捷科技成都维修中心" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #008558;" href="http://www.aoc.com/" target="_blank">冠捷科技成都维修中心</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">中级硬件工程师</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>工作地点:成都,昆明</p>
							<p>主要负责冠捷系列显示器的维修.</p>
                            <p> </p>
                            <p>&nbsp;</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2005/7</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.cdut.edu.cn/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/cdut.jpg" alt="成都理工大学" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #5a5857;" href="http://www.cdut.edu.cn/" target="_blank">成都理工大学</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">计算机科学与技术专业</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>在校期间充分的学习,为将来的软件开发打下了坚实的基础.</p>
							<p>顺利拿到计算机专业学士学位,英语4级证书.</p>
							<p> </p>
							<p>&nbsp;</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2001/9</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">丰富的项目经验</h2>
				<h3 class="section__header__subtitle">独当一面</h3>
				<h3 class="section__header__subtitle">解决各种技术难题</h3>
			</header>
			<div class="section-body">
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">NEA e-Payment Portal (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">C#</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">WCF</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">ASP MVC5</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Entity Framework6</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">MS SQL Server</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">IIS7</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">GIT</li>
							</ul>
							<p class="project__intro__header__period">2015/8 - 至今</p>
						</header>
						<p>项目背景:这是一个新加坡环境部的集成支付系统,集中管理其旗下所有涉及付款的业务,并与网银和第三方支付系统进行对接.</p>
						<p><strong>此项目由我全权负责</strong>,从头带到尾,期间有1到2名初级工程师在我的指导下进行开发.截至2016.3.8,第一阶段任务已经部署上线</p>
						<p>项目的难点之于我在于:</p>
						<p>1.项目需要和各个子系统打交道,如何设计一个通用的高扩展性的易用的接口.在这方面,我做了充分的需求分析和业务知识积累.</p>
						<p>  我在这基础上设计了一个简单的接口可以适用于各个子系统.</p>
						<p>2.与子系统的沟通是用基于WCF的Web Service实现的,这之中必然会涉及到由于网络因素或者客户端自身因素造成的数据丢失.</p>
						<p>  既然涉及到了付款,那么数据的完整性必须要保持,而且不能牺牲通讯的性能.基于这样的考虑,我主张采用异步队列的方式,</p>
						<p>  我自己编写封装一个轻量级的MQ,充分的满足了业务的需求</p>
						<p>3.客户指定项目必须用微软的平台开发,对于我们搞Java的人来说,这也是一个不小的挑战.通过扎实的基础知识,充分的学习,</p>
						<p>  我顺利的客服了这项问题,充分利用了C#的特性完成了该项目第一阶段</p>
						<p>4.其他的难点,包括如果使需求不要频繁变更,如何保证Web Service的数据安全性,如何设计一个易维护易扩展到框架,</p>
						<p>  为未来的第二第三阶段留下充分的扩展余地,这些难点都被我一一克服.</p>
					</div>
				</section>
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">Integrated Licensing System (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Struts1</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">jdbc</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Jsp/html/css/javascript</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">Weblogic</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Unix</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">SVN</li>
							</ul>
							<p class="project__intro__header__period">2012/12 - 至今</p>
						</header>
						<p>项目背景:新加坡环境部的一个执照申请、审核、审批系统。2005年就已经上线的,一直运行至今,技术已经非常老旧</p>
						<p>项目是一个维护性项目,兼部分新功能的开发,本身并没有太大的技术难度.</p>
						<p>所以我们的关注点是在业务的充分理解上,和代码的高维护性方面.</p>
						<p>由于是老项目,中间经手的写代码的人不计其数,所以当中必不可少的会留下非常多的坑.</p>
						<p>所以我在这项目中,更多的关注怎样更好修复这些坑,怎样在充分的业务逻辑理解的基础上重构掉那些不合理的代码,使之能为将来的维护提供便利.</p>
						<p>在新加坡工作期间,也兼做这个项目的support,独立负责系统的大部分模块.</p>
						</div>						
					<div class="project__thumb">
						<img src="images/project-56upload.jpg" alt="ILS系统截图" />
					</div>
				</section>
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">NEA e-Service System (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Servlet</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">jdbc</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Jsp/html/css/javascript</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">Weblogic</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">SVN</li>
							</ul>
							<p class="project__intro__header__period">2012/12 - 至今</p>
						</header>
						<p>项目背景:新加坡环境部提供给公共用户注册执照的网站.也是一个老系统了.</p>
						<p>我在这个项目的主要侧重的也是修复老系统带来的bug,重构不合理的代码,还有在安全性上做出一些必要的设计.</p>
						<p class="project__intro__links noprint">在线地址:
							<a class="noprint" href="https://eservices.nea.gov.sg/pcls/" target="_blank">pcls</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/vcls/" target="_blank">vcls</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/essp/" target="_blank">essp</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/atad/" target="_blank">atad</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/TR/" target="_blank">TR</a>
						</p>
						
					</div>
					<div class="project__thumb">
						<img src="images/project-56upload.jpg" alt="eService系统截图" />
					</div>
				</section>				
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">OBLS WebService Interface (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">C#</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">.Net 2.0</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">WSE3.0</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">odbc</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">IIS6</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">SVN</li>
							</ul>
							<p class="project__intro__header__period">2013/11 - 2015/10</p>
						</header>
						<p>项目背景:这是一个与OBLS(Online Business Licensing System)的接口系统</p>
						<p>这是个Web Service的server端,用来接收OBLS发来的定制数据的.</p>
						<p>我在这当中主要就是为该系统做support,修复其中的bug.由于项目之初架构设计考虑不佳,我也会花很多时间重构代码.</p>						
					</div>
				</section>
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">ERP企业信息管理系统 (成都星驰)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">Oracle ADF</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Weblogic</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">JSF</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">html/javascript</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Flex</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">SVN</li>
							</ul>
							<p class="project__intro__header__period">2010/10 - 2012/11</p>
						</header>
						<p>项目背景:某水处理公司定制的ERP管理系统</p>
						<p>项目使用的ADF框架比较小众,国内并没有太多的学习资料,所以当初做这个项目时这是一个比较大的难点.</p>
						<p>本身技术上难度都在ADF上,剩下的就是企业内部业务的熟悉与掌握.</p>
						<p>我在这当中也是克服了上面所说的难点,并负责了部分办公模块的开发,系统基础管理模块的开发,部分工作流引擎的开发</p>
					</div>
				</section>
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">ERP企业信息管理系统(C/S) (成都星驰)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Magic eDeveloper</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">MS SQL Server</li>
							</ul>
							<p class="project__intro__header__period">2009/7 - 2010/10</p>
						</header>
						<p>项目背景:某铝加工企业定制ERP管理系统</p>
						<p>这是我踏入软件行业做的第一个软件系统,系统开发语言Magic eDeveloper非常的非主流,刚开始对我来说完全是天书.</p>
						<p>不过学习能力是我的一大优势,很快我就掌握了这么开发工具,并能在同事的指导下进行一些小的模块的开发.</p>
					</div>
				</section>
			</div>
		</div>
	</section>
</div>
    <div class="printer">
        <span class="btn btn-primary noprint" onclick="javascript:window.print();">
            <span class="glyphicon glyphicon-print "></span>
            打印简历
        </span>
    </div>

</body>
<!--</html>-->