<style>
    bold {
        font-weight: bold;
    }

    div.resume {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        position: relative;
    }

    div.resume-block {
        background: #fff;
        margin-bottom: 15px;
        border: 1px solid #d9d9d9;
    }

    div.resume-body {
        padding-left: 20px;
        padding-right: 20px;
    }

        div.resume-body div.resume-body-block {
        }


    div.resume-header div {
        float: left;
        height: 150px;
    }

    div.resume-experience {
        margin-left: 50px;
    }

    div.resume-project {
        margin-left: 50px;
    }

    img.icon {
        height: 150px;
        width: 150px;
    }

    ul.resume {
        list-style: none;
    }

        ul.resume li {
            margin-top: 5px;
        }


    .font-header {
        font-family: Verdana;
        font-size: 15px;
        font-weight: bold;
        color: #0000FF;
    }

    div.resume-header {
        height: 152px;
    }

    table.resume-basic-info {
        width: 800px;
    }

    table.resume-experience {
        width: 750px;
    }

    div.resume td {
        padding-bottom: 5px;
        /*font-family: Verdana;*/
        /*font-size: 14px;*/
        vertical-align: top;
    }

    td.resume-detail-title {
        font-weight: bold;
    }

    hr {
        border: none;
        height: 1px;
        border-top: 1px solid #d9d9d9;
    }

    progress {
        background-color: #eee;
        width: 200px;
    }

        progress::-webkit-progress-bar {
            background-color: #d7ffd7;
        }


    ul.resume-score {
        list-style: none;
        margin-left: -40px;
    }

        ul.resume-score li {
            margin-bottom: 10px;
            height: 25px;
        }

            ul.resume-score li div {
                vertical-align: central;
                background-color: #6db33f;
                height: inherit;
                float: left;
                padding-left: 10px;
                border-radius: 2px;
                border-left: 1px #ccc solid;
                border-right: 1px #ccc solid;
                border-top: 1px #aaa solid;
            }

    #resume_print {
        border-top: none;
        border-right:none;
        border-bottom-right-radius:0px;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        border-bottom-left-radius:4px;
    }

    @media print {
        ul.resume-score li div {
            background-color: #6db33f !important;
            border-radius: 0px;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            -webkit-print-color-adjust: exact;
        }

        .noprint {
            display: none;
        }
    }
</style>

<div class="resume">
    <div class="resume-header resume-block">
        <div><img src="/Content/images/face.jpg" /></div>
        <div>
            <ul class="resume">
                <li>
                    <h2>骆宇平</h2>
                </li>
                <li><span class="font-header">电话: 15680792820</span></li>
                <li><span class="font-header">邮箱: luozong3@sina.com</span></li>
                <li><span class="font-header">职位: 高级软件工程师(Java)</span></li>
            </ul>
        </div>
        
        <div style="float:right">
            <span id="resume_print" class="btn btn-default noprint" onclick="javascript:window.print();">            
                <span class="glyphicon glyphicon-print "></span>
                打印简历
            </span>
        </div>
    </div>

    <div class="resume-block resume-body">
        <h3>基本信息:</h3>
        <table class="resume-basic-info">
            <tr>
                <td class="resume-detail-title" style="width: 10%;">所在地:</td>
                <td style="width: 40%;">成都</td>
                <td class="resume-detail-title" style="width: 10%;">出生年月:</td>
                <td style="width: 40%;">1982.12</td>
            </tr>
            <tr>
                <td class="resume-detail-title">目前状态:</td>
                <td>在职, 在看新机会</td>
                <td class="resume-detail-title">婚姻状况:</td>
                <td>已婚</td>
            </tr>
            <tr>
                <td class="resume-detail-title">期望行业:</td>
                <td>计算机软件</td>
                <td class="resume-detail-title">期望职位:</td>
                <td>软件开发/技术主管</td>
            </tr>
            <tr>
                <td class="resume-detail-title">期望年薪:</td>
                <td>15万</td>
            </tr>
        </table>
    </div>

    <div class="resume-block resume-body">
        <h3>工作经历:</h3>
        <div class="resume-body-block">
            <h4>
                <pre>2012.12 - 至今:  NCS  (高级软件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都, 新加坡</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>
                            新加坡:<br />
                            1.与客户沟通了解新的需求,翻译成程序设计需要的需求文档;
                            <br />
                            &nbsp;&nbsp;&nbsp;对于客户反应的各种bug和问题,追查其root cause并找出最优解决方案.
                            <br />
                            2.发现旧有系统的设计上的不足,学习并运用新技术对其进行改进调优.
                            <br />
                            &nbsp;&nbsp;&nbsp;对项目的流程和管理提出意见并加以改进.
                            <br />
                            3.系统日常维护,bug分析,解决各种生产环境下产生的问题.
                            <br />
                            4.新系统开发时,设计并优化系统基础框架.
                            <br />
                            5.各种系统疑难杂症分析与解决.
                            <br />
                            6.负责指导初级工程师的开发.<br />
                            <br />
                            成都:<br />
                            1.系统新功能开发,解决已知系统bug
                            <br />
                            2.支持并解决系统疑难杂症
                            <br />
                            3.指导初级工程师的开发.<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />


        <div class="resume-body-block">
            <h4>
                <pre>2009.7 - 2012.11:  成都星驰科技有限责任公司  (软件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>
                            1. 与客户沟通并了解需求
                            <br />
                            2. 根据客户需求进行系统开发,对客户反应的bug进行及时的修复<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />

        <div class="resume-body-block">
            <h4>
                <pre>2007.7 - 2009.7:  成都清华同方技术服务中心 (高级硬件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>
                            1.负责显示器维修(芯片级), 电脑硬件维修(板卡级)<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />

        <div class="resume-body-block">
            <h4>
                <pre>2005.10 － 2007.06:  冠捷科技集团成都服务中心 (硬件工程师)</pre>
            </h4>
            <div class="resume-experience">
                <table class="resume-experience">
                    <tr>
                        <td style="width: 10%;">工作地点:</td>
                        <td style="width: 90%;">成都</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">工作内容:</td>
                        <td>
                            1. 负责显示器维修(芯片级)<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="resume-block resume-body">
        <h3>项目经验:</h3>

        <div class="resume-body-block">
            <div class="resume-project">
                <h4>
                    <pre>Integrated Licensing System (NCS)</pre>
                </h4>
                <table>
                    <tr>
                        <td style="width: 10%;">项目描述:</td>
                        <td style="width: 90%;">新加坡环境部的一个执照申请、审核、审批系统。这是一个2005年就已经上线的系统，一直运行至今。</td>
                    </tr>
                    <tr>
                        <td>涉及技术:</td>
                        <td>Java, Struts, EJB, jdbc, Jsp/html/css/javascript, Weblogic, Oracle DB, Unix, SVN</td>
                    </tr>
                    <tr>
                        <td>工作内容:</td>
                        <td>
                            1.项目新需求的开发
                            <br />
                            2.项目维护，bug修复
                            <br />
                            3.指导初级工程师进行开发.
                            <br />
                            4.使用新技术更新项目上那些过久的,冗余的设计.
                            <br />
                            5.修复旧有框架造成的安全漏洞问题<br />
                        </td>
                    </tr>
                </table>
            </div>
            <hr />

            <div class="resume-project">
                <h4>
                    <pre>OBLS WebService Interface (NCS)</pre>
                </h4>
                <table>
                    <tr>
                        <td style="width: 10%;">项目描述:</td>
                        <td style="width: 90%;">这是一个与OBLS(Online Business Licensing System)的接口系统。</td>
                    </tr>
                    <tr>
                        <td>涉及技术:</td>
                        <td>C#, .Net 2.0, WSE3.0, odbc, IIS, svn</td>
                    </tr>
                    <tr>
                        <td>工作内容:</td>
                        <td>
                            1.项目日常维护, bug修复
                            <br />
                        </td>
                    </tr>
                </table>
            </div>
            <hr />

            <div class="resume-project">
                <h4>
                    <pre>NEA e-Payment Portal (NCS)</pre>
                </h4>
                <table>
                    <tr>
                        <td style="width: 10%;">项目描述:</td>
                        <td style="width: 90%;">新加坡环境部的集成支付系统,集中管理其旗下所有涉及付款的业务,并与网银和第三方支付系统进行对接。</td>
                    </tr>
                    <tr>
                        <td>涉及技术:</td>
                        <td>C#, WCF, ASP MVC5, Entity Framework6, MS SQL Server, IIS7, GIT</td>
                    </tr>
                    <tr>
                        <td>工作内容:</td>
                        <td>
                            1.与客户沟通并了解需求.
                            <br />
                            2.与其他付款平台供应商讨论并设计接口.
                            <br />
                            3.系统基础框架,架构设计
                            <br />
                            4.技术难题攻关
                            <br />
                            5.指导其他项目成员的开发<br />
                        </td>
                    </tr>
                </table>
            </div>
            <hr />


            <div class="resume-project">
                <h4>
                    <pre>NEA e-Service System (NCS)</pre>
                </h4>
                <table>
                    <tr>
                        <td style="width: 10%;">项目描述:</td>
                        <td style="width: 90%;">新加坡环境部提供给公共用户注册执照的网站。</td>
                    </tr>
                    <tr>
                        <td>涉及技术:</td>
                        <td>Java, Servlet, jsp/html/css/javascript, jdbc, Weblogic, Oracle DB, SVN</td>
                    </tr>
                    <tr>
                        <td>工作内容:</td>
                        <td>
                            1.项目新需求的开发
                            <br />
                            2.项目维护，bug修复
                            <br />
                            3.指导初级工程师进行开发.
                            <br />
                            4.使用新技术更新项目上那些过久的,冗余的设计.
                            <br />
                            5.修复旧有框架造成的安全漏洞问题<br />
                        </td>
                    </tr>
                </table>
            </div>
            <hr />


            <div class="resume-project">
                <h4>
                    <pre>ERP企业信息管理系统 (成都星驰)</pre>
                </h4>
                <table>
                    <tr>
                        <td style="width: 10%;">项目描述:</td>
                        <td style="width: 90%;">该系统为某水处理公司定制的ERP管理系统。</td>
                    </tr>
                    <tr>
                        <td>涉及技术:</td>
                        <td>Java, Oracle DB, Oracle ADF framework, Weblogic, JSF2.0, html/javascript, Flex4.0, SVN</td>
                    </tr>
                    <tr>
                        <td>工作内容:</td>
                        <td>
                            1.系统中部分功能的需求调研, 界面设计, 数据库设计, 功能开发, 开发文档.<br />
                            2.解决工作中同事们无法解决的技术难题, 并不断选寻求更优化, 更简洁的解决方案.
                            <br />
                            3.编写或制作基类, 基础控件, 和页面模板, 方便其他同事进行程序开发.<br />
                        </td>
                    </tr>
                </table>
            </div>
            <hr />


            <div class="resume-project">
                <h4>
                    <pre>ERP企业信息管理系统(C/S) (成都星驰)</pre>
                </h4>
                <table>
                    <tr>
                        <td style="width: 10%;">项目描述:</td>
                        <td style="width: 90%;">该项目为某铝加工企业定制ERP管理系统。</td>
                    </tr>
                    <tr>
                        <td>涉及技术:</td>
                        <td>Magic eDeveloper, MS SQL Server</td>
                    </tr>
                    <tr>
                        <td>工作内容:</td>
                        <td>1.办公管理模块大部分功能的需求调研，界面设计，数据库设计，功能开发，文档和测试工作.</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div class="resume-block resume-body">
        <h3>自我评价:</h3>
        <div class="resume-body-block">
            <div style="padding-left: 50px; padding-right: 50px;">
                <span>
                    从熟悉的硬件业转行至软件业并直到现在,始终保持着对软件开发的热情,不断的研究并学习新技术,更新并改良自己对软件行业的认识.<br />
                    不断完善自己在软件开发方面能力,而这种完善又不仅仅限于开发.<br />
                    <br />
                    整个软件开发的过程中,并不拘泥于特定的语言.<br />
                    我的长项是Java,绝大部分我接触的项目都是用Java开发的.<br />
                    但是也利用C#独立设计并完成了一个项目,而且充分利用了C#相较于Java的一些优点长处并运用在项目上.<br />
                    也了解过C++, Python, 知道他们之间的各自的强项并在合适的时候运用他们
                    <br />
                    <br />
                    对于数据结构这样的基础知识,有比较牢固的掌握.<br />
                    <br />
                    通过多年的学习和经验的积累,拥有了更好的框架设计能力.<br />
                    合适的选用项目开发需要工具和项目管理工具,使开发事半功倍
                    <br />
                    <br />
                    在日常的维护中,也充分的锻炼了人际沟通和寻找问题能力.<br />
                    流利运用英文或中文与用户进行沟通,之后立刻就有清晰的找出问题的思路.<br />
                    <br />
                    在进行项目维护的时候,并不会为了追求眼前的效率而采取头痛医头,脚痛医脚的策略,总是会着眼于全局而选择最优化的策略.<br />
                    维护的过程中也掌握了许多Unix和Windows Server的相关知识.<br />
                    <br />
                    对新的知识,新的技术,永远保持着最大的热情, 并不会因为对现有技术的充分掌握就拒绝接受新技术.
                    <br />
                    <br />
                    附上我对自己所掌握的技能的打分(满分10分)
                    <br />
                </span>
                <ul class="resume-score">
                    <li>
                        <div style="width: 240px;">Java</div>
                        &nbsp;8
                    </li>
                    <li>
                        <div style="width: 240px;">Trouble Shooting</div>
                        &nbsp;8
                    </li>
                    <li>
                        <div style="width: 210px;">Communication</div>
                        &nbsp;7
                    </li>
                    <li>
                        <div style="width: 210px;">Database</div>
                        &nbsp;7
                    </li>
                    <li>
                        <div style="width: 210px;">Team Work</div>
                        &nbsp;7
                    </li>
                    <li>
                        <div style="width: 210px;">English</div>
                        &nbsp;7
                    </li>
                    <li>
                        <div style="width: 180px;">C#</div>
                        &nbsp;6
                    </li>
                    <li>
                        <div style="width: 180px;">Html/Css/JS</div>
                        &nbsp;6
                    </li>
                    <li>
                        <div style="width: 180px;">Git</div>
                        &nbsp;6
                    </li>
                    <li>
                        <div style="width: 180px;">Data Structure</div>
                        &nbsp;6
                    </li>
                    <li>
                        <div style="width: 120px;">Unix</div>
                        &nbsp;4
                    </li>
                    <li>
                        <div style="width: 120px;">Workflow</div>
                        &nbsp;4
                    </li>
                    <li>
                        <div style="width: 90px;">Flex</div>
                        &nbsp;3
                    </li>
                    <li>
                        <div style="width: 90px;">Network</div>
                        &nbsp;3
                    </li>
                    <li>
                        <div style="width: 90px;">Algorithm</div>
                        &nbsp;3
                    </li>
                    <li>
                        <div style="width: 60px;">Python</div>
                        &nbsp;2
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

