<!DOCTYPE HTML>
<!--<html>
<head>
<meta charset="utf-8" />
<title>Luo Yu Ping's Resume</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />-->
<link href="/Content/css/style-v2.4.css" media="not print" rel="stylesheet" type="text/css" />
<link href="/Content/css/style-v2.4-print.css" media="print" rel="stylesheet" type="text/css" />
<link href="/Content/css/resume.css" rel="stylesheet" />
<!--</head>-->

<body>

<div class="main">
	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<div class="center">
					<img src="/Content/images/face.jpg" class="face"/>					
				</div>		
				<div class="center">				
					<h2 class="section__header__title">Luo Yu Ping</h2> 
				</div>
				<div class="center">
					<h3 class="section__header__subtitle"><script>document.write((new Date).getFullYear() - 2005);</script> years working experiences, <script>document.write((new Date).getFullYear() - 2009);</script> years software development experiences</h3>
				</div>
				<div class="center">
					<a class="section__header__subtitle contact" href="mailto:luozong3@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;</span>luozong3@gmail.com</a>
				</div>
				<div class="center">	
					<h3 class="section__header__subtitle contact"><span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp;</span>15680792820</h3>
				</div>
			</header>
			<div class="section-body">
				<ul class="tech-skill-list">
					<li class="tech-skill-list_item skill-10">
						<h4 class="tech-skill-list_item_name">Total Score: 10</h4>
					</li>
					<li class="tech-skill-list_item skill-8">
						<h4 class="tech-skill-list_item_name">Java</h4>
					</li>
					<li class="tech-skill-list_item skill-8">
						<h4 class="tech-skill-list_item_name">Trouble Shooting,Communication,Teamwork</h4>
					</li>
					<li class="tech-skill-list_item skill-7">
						<h4 class="tech-skill-list_item_name">Database</h4>
					</li>								
					<li class="tech-skill-list_item skill-7">
						<h4 class="tech-skill-list_item_name">English</h4>
					</li>										
					<li class="tech-skill-list_item skill-6">
						<h4 class="tech-skill-list_item_name">Architecture Design</h4>
					</li>										
					<li class="tech-skill-list_item skill-6">
						<h4 class="tech-skill-list_item_name">Front­end</h4>
					</li>				
															
					<li class="tech-skill-list_item skill-5">
						<h4 class="tech-skill-list_item_name">Data Structure & Algorithm</h4>
					</li>

					<li class="tech-skill-list_item skill-4">
						<h4 class="tech-skill-list_item_name">Small team leadership</h4>
					</li>
							
				</ul>
			</div>

            <div style="margin-top:30px;margin-bottom:30px">
                <header class="section__header">
                    <h2 class="section__header__title">Overview</h2>
                </header>
                <div class="section-body">
                    <ul class="list">
                        <li>7 years experiences in Java development, half an year experience as a leader, major in back­end</li>
                        <li>bachelor's degree, <strong>CET 4 for English, good skills in reading/writing/listening/speaking</strong></li>
                        <li><strong>Proficient with Java, Proficient with Object­Oriented development, good habit in coding, finish tasks in high quality</strong></li>
                        <li><strong>Excellent trouble shooting ability, quickly find out root cause of problems, excellent learning ability</strong></li>
                        <li>Familiar with various Java framework: Spring, Spring MVC, Struts, JDBC, JPA, netty, Avro, log4j, Jedis, Maven</li>
                        <li>Understand design patterns well, use them in my daily work</li>
                        <li>Understand and use multithreading very well, familiar with networking coding in Java, familiar with Tcp/ip, familiar with netty framework</li>
                        <li>Familiar with Database: Oracle, MySql, SQL Server, solid knowledge in No­Sql database Redis, skills in query optimization</li>
                        <li>Familiar with front­end technology :Html5, CSS3, JS, Jquery, AngularJS</li>
                        <li>Familiar with Kafka, have some knowledge with Zookeeper and nginx</li>
                        <li>Familiar with building Docker environment, building docker images, implement containers</li>
                        <li>Familiar with WebService, Restful Apis, and RPC</li>
                        <li>Familiar with Linux/Unix, familiar with those common commands, tools, vi, can write simple shell script</li>
                        <li>Familiar with Git, SVN, use Jenkins as a continuous integration tool, do deployment and unit testing automatically</li>
                        <li>Familiar with common Web Server: Tomcat, Weblogic</li>
                        <li>Excellent communication ability and skills, excellent teamwork ability</li>
                        <li><strong>Can lead a small team, control the project schedule, solve tough problems in project, can guide junior developers</strong></li>
                        <li><strong>Strong passion in technology and always keep learning it, wish to read some open source code. Strong sense of ownership in daily work</strong></li>
                    </ul>
                </div>
            </div>
		</div>
	</section>

	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">Work/Education Experiences</h2>
			</header>
			<div class="section-body">
				<div class="work-exp-list">
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>Now</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.dz.tt/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/dz.png" alt="Beijing Dian Zhuang Technology" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #f53638;" href="http://www.dz.tt/" target="_blank">Beijing Dian Zhuang Technology(100 employees)</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">Senior Java Developer</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>Beijing Dian Zhuang is a dot­com company that working in business of chargers for plug­in electric vehicles</p>
							<p>I am doing a development work in the back­end management system, include belowing:</p>
							<p>develop new functions, basic component, bug fix, code refactor, framework optimization, guide junior developer, production support</p>							
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2016/4</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.ncs.com.sg/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/ncs.jpg" alt="NCS" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #fb7c6b;" href="http://www.ncs.com.sg/" target="_blank">NCS(500+ employees)</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">Senior Java Developer/Leader</p>
						</header>
						<div class="work-exp-list__company__body">							
						    <p>2013.11­2015.10 working in Singapore</p>
							<p>2015.10 Be promoted to team leader, start to lead a small team in Chengdu(maximun 3 persons),my major job as leader: control project schedule, code review, guide junior developer</p>
							<p>In charge of several moduls in project, my job include:</p>
							<ul class="list">
								<li>Communicate with customer directly, analysis their requirment</li>
								<li>System framework designation and implmentation</li>
								<li>Good understanding to business logic, keep a expandable and maintainable system with good communication with customer</li>
								<li>Develop system basic components, define interfaces between system modules</li>
								<li>Solve tough problems in project</li>
							</ul>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2012/12</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #f53638;" href="http://www.cdxingchi.com/" target="_blank">Chengdu Xing Chi Technology(10­ employees)</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">Junior Java Developer</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>I am a beginner in sofeware area when I enter this company, all I have is some basic knowledge learning from university</p>
							<p>By my persistent efforts, great interest in software, good learning skill and colleague's paitent guidence, my Java skill grows better</p>
							<p>Although this company is small, but it give me more space to show myself, and the bigger responsbility on my shoulder as well. I take charge in more area than just being a software engineer.</p>
							<p>My job inclue: requirement analysising, business logic analysising, coding, testing, maintenance,user opinion gathering,training customers.Gradually I become a role that handle whole project without my colleagues</p>
							<p>I make great progress in software area in the 3 years in Xing Chi, because of the big space it give to me</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2009/7</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.thtf.com.cn/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/thtf.jpg" alt="Chengdu Tsing Hua Tong Fang Technology" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #008558;" href="http://www.thtf.com.cn/" target="_blank">Chengdu Tsing Hua Tong Fang Technology</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle"> Senior Hardware Engineer</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>In charge of monitor repairing in chip level, also do some PC repairing in board level.</p>
							<p>4 years repairing experinces let me have a great thinking in trouble shooting It gives me a solid basis in the future bug fixing, trouble shooting in software area</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2007/6</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.aoc.com/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/tpv.png" alt="TPV" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #008558;" href="http://www.aoc.com/" target="_blank">TPV</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">Junior Hardware Engineer</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>Work place: Chengdu, Kuming</p>
							<p>In charge of monitor repairing.</p>
                            <p> </p>
                            <p>&nbsp;</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2005/7</div>
					<section class="work-exp-list__company clearfix">
						<header class="work-exp-list__company__header">
							<a href="http://www.cdut.edu.cn/" target="_blank" class="work-exp-list__company__header__logo"><img src="/Content/images/cdut.jpg" alt="Chengdu University of Technology" /></a>
							<h4 class="work-exp-list__company__header__title">
								<a style="color: #5a5857;" href="http://www.cdut.edu.cn/" target="_blank">Chengdu University of Technology</a>
							</h4>
							<p class="work-exp-list__company__header__jobtitle">Computer Science and Technology</p>
						</header>
						<div class="work-exp-list__company__body">
							<p>Have a good knowledge in software basis that learned from university.</p>
							<p>Get the Bachelor's degree, CET 4 certificate.</p>
							<p> </p>
							<p>&nbsp;</p>
						</div>
					</section>
					<div class="work-exp-list__point"><i class="work-exp-list__point__ico"></i>2001/9</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="boundary">
			<header class="section__header">
				<h2 class="section__header__title">Project Experiences</h2>
			</header>
			<div class="section-body">
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">Dian Zhuang Online Management System(OMS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Spring</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">Spring MVC</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Spring JDBC</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Spring JPA</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">AngularJS/HTML/CSS/JS/Jquery</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Netty</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Avro</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Tomcat</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">Nginx</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">MySql</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">Redis</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Linux</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Maven</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Git</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">Docker</li>
							</ul>
							<p class="project__intro__header__period">2016/4 - Now</p>
						</header>
						<p>Background: Back­end management system for Dian Zhuang company, manage all the chargers and all system back­end settings, Company's whole system is a distributed system, OMS is in the middle that need to communicate with other systems</p>
						<p>Responsbility:</p>
						<p>1.In charge of back-end development of OMS, also doing some front-end work. Develop basic component of whole project.</p>
						<p>2.Optimize project  framework and architecture.</p>
						<p>3.Design network protocol with hardware department.</p>
						<p>4.Guide junior developers.</p>
						<p>5.Participate with product desgin, provide technical supporting to product department.</p>
						<p>6.Support production environment , build and maintain testing environment.</p>
						</div>						
					<div class="project__thumb">
						<img src="/Content/images/oms.png" alt="OMS screenshot" />
					</div>
				</section>
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">NEA e-Payment Portal (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Spring</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">Spring MVC</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Spring JPA</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">Kafka</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Zookeeper</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Tomcat</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">MySql</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">Redis</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Linux</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">Maven</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Git</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Docker</li>
							</ul>
							<p class="project__intro__header__period">2015/8 - 2016/4</p>
						</header>
						<p>Background: This is a integrated payment portal system from Singapore NEA(National Environment Agency), it manage all the payment business under NEA, and interface with 3rd party disbursement system.</p>
						<p>This project is leaded by me,maximum 3 developers are under me during the development peroid. Phase 1 have been implmented to production in 2016.3.8</p>
						<p>Responsbility:</p>
						<p>1.Design the project architecture. User want a high-available, easy-to-expand, good-performance system which can support whole NEA payment platform, and can integrate more subsystems in the future,</p>
						<p>  So I take it into 2 part: One is Kafka as a middleware to recieve payment items from subsystems .</p>
						<p>  Another is the payment platform which can consume and save the messages from Kafka, and provide interfaces to 3rd party disbursement system to search and pay.</p>
						<p>2.Write most of the framework code.</p>
						<p>3.Requirement analysis, designation of interfaces with 3rd party systems, designation of content of middleware messages.</p>
						<p>4.Monitor on project progress, guide junior developer.</p>
						<p>5.Solve tough problems in project.</p>
					</div>
				</section>
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">Integrated Licensing System (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Struts1</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">jdbc</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Jsp/html/css/JS</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">Weblogic</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Unix</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">SVN</li>
							</ul>
							<p class="project__intro__header__period">2012/12 - 2016/4</p>
						</header>
						<p>Background: A system from Singapore NEA(National Environment Agency) that is used to register/make recommendation/approve a licence. This system is for internal use within NEA. It is very old because whole system was implemented in 2005 and keep running to now</p>
						<p>This project is a maintenance project and with some new function development as well. Its related technology is not difficult.</p>
						<p>We are focusing on the business logic, and how to make code easier to maintenance. </p>
						<p>This project last for so many years, many developers have written codes in this project with diffirent style, which dig a hole for maintenance people, like me.</p>
						<p>So I focus on how to fill those holes, refactor those unsuitable codes based on my understanding on business logic, to make it easier for my future maintenance.</p>
						<p>When I work in Singapore, I also do the supporting work for this project, in charge of several module alone.</p>
						</div>						
					<div class="project__thumb">
						<img src="/Content/images/ils.png" alt="ILS screenshot" />
					</div>
				</section>
				<section class="project clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">NEA e-Service System (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Servlet</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">jdbc</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Jsp/html/css/javascript</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">Weblogic</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">SVN</li>
							</ul>
							<p class="project__intro__header__period">2012/12 - 2016/4</p>
						</header>
						<p>Background: This is an online system from Singapore NEA(National Environment Agency) that offer to public user to register their licence.It's an old system too.</p>
						<p>I am doing a bug fixing job in this project, refactor those unsuitable code, add some security component.</p>
						<p class="project__intro__links noprint">urls:
							<a class="noprint" href="https://eservices.nea.gov.sg/pcls/" target="_blank">pcls</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/vcls/" target="_blank">vcls</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/essp/" target="_blank">essp</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/atad/" target="_blank">atad</a>
							<a class="noprint" href="https://eservices.nea.gov.sg/TR/" target="_blank">TR</a>
						</p>
						
					</div>
					<div class="project__thumb">
						<img src="/Content/images/eservice.png" alt="eService screenshot" />
					</div>
				</section>				
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">OBLS WebService Interface (NCS)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">C#</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">.Net 2.0</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">WSE3.0</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">odbc</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">IIS6</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">SVN</li>
							</ul>
							<p class="project__intro__header__period">2013/11 - 2015/10</p>
						</header>
						<p>Backgournd: This is a interface system to OBLS(Online Business Licensing System)</p>
						<p>This project is a Web Service server side, it is used to receive datas from OBLS</p>
						<p>I do the supporting work in this project, also fix bugs.Because of a bad architecture that design in the beginning, I have to spent more time in refactoring some of the code.</p>						
					</div>
				</section>
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">ERP Enterprise Management System (Chengdu Xing Chi)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Java</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">Oracle DB</li>
								<li class="tech-tag-list_item tech-tag-list_item-blue">Oracle ADF</li>
								<li class="tech-tag-list_item tech-tag-list_item-orange">Weblogic</li>
								<li class="tech-tag-list_item tech-tag-list_item-green">JSF</li>
								<li class="tech-tag-list_item tech-tag-list_item-red">html/javascript</li>
								<li class="tech-tag-list_item tech-tag-list_item-darkblue">Flex</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">SVN</li>
							</ul>
							<p class="project__intro__header__period">2010/10 - 2012/11</p>
						</header>
						<p>Backgrounnd: ERP management system for a sewage management company</p>
						<p>This project is based on ADF framework which is supported by Oracle and not a popular framework in Java, we don't have many document that write in Chinese, that's why it become a tough point in the project.</p>
						<p>All the technical difficulty is in ADF framework, others are how to get familar with business logic.</p>
						<p>I successfully conquer these difficulties above, and in charge of OA system/basic management system in this project. Also participate the development work for workflow module</p>
					</div>
				</section>
				<section class="project project--nothumb clearfix">
					<div class="project__intro">
						<header class="project__intro__header clearfix">
							<h4 class="project__intro__header__title">ERP Enterprise Management System(C/S) (Chengdu Xing Chi)</h4>
							<ul class="tech-tag-list">
								<li class="tech-tag-list_item tech-tag-list_item-red">Magic eDeveloper</li>
								<li class="tech-tag-list_item tech-tag-list_item-yellow">MS SQL Server</li>
							</ul>
							<p class="project__intro__header__period">2009/7 - 2010/10</p>
						</header>
						<p>Backgrounnd: ERP management system for a aluminum producing company</p>
						<p>This is my first project in software area, system platform is Magic eDeveloper which is very very rare that few people have heard of,it seems very hard to me because I have never heard of it.</p>
						<p>But with my good learning ability, I get used to this tool very soon, then can develop some small module alone under a guidence of my Senior colleague.</p>
					</div>
				</section>
			</div>
		</div>
	</section>
</div>
    <div class="printer">
        <span class="btn btn-primary noprint" onclick="javascript:window.print();">
            <span class="glyphicon glyphicon-print "></span>
            Print Resume
        </span>
    </div>

</body>
<!--</html>-->